@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Partner Web Site</h2>
        <p>
            A list of customers to log in to is provided here
        </p>
    </div>
    <div class="col-md-4">
        <h2>Customer A</h2>
        <p><a href="https://localhost:44300/PartnerLogin/SignIn">LOCAL</a> portal using your account</p>
        <p><a href="https://cwcustomerwebapp.azurewebsites.net/PartnerLogin/SignIn">AZURE</a> portal using your account</p>
    </div>
</div>